/*
 * Google Fonts:
 * - Lora
 * - Lato
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Fuentes: */
    --lora: 'Lora', serif;
    --lato: 'Lato', sans-serif;

    /* Colores*/
    --gris-1: #C2C1C2;
    --gris-2: #F9F8F8;
    --gris-3: #CDD3CE;
    --gris-4: #BBB5BD;
    --white-50: #ffffff;
    --white-100: #efefef;
    --white-200: #dcdcdc;
    --white-300: #bdbdbd;
    --white-400: #989898;
    --white-500: #7c7c7c;
    --white-600: #656565;
    --white-700: #525252;
    --white-800: #464646;
    --white-900: #3d3d3d;
    --white-950: #292929;
    --d1: #f3f3f3;
    --d2: #f9f9f9;
    --d3: #f5f5f5;
    --d4: #fbfbfb;
    --g1: #525252;






    --white-1: #ffffff;
    --white-2: #f9f9f9;
    --white-3: #F9F9FA;

    --gray-1: #dcdcdc;
    --gray-2: #7F7F7F;

    --blue-1: #040872;
    --blue-2: #0a1d90;
    --blue-3: #1a2aab;
    --blue-4: #2a3fbf;
    --blue-5: #4a5bd9;
    --blue-6: #6a7ff3;
    --blue-7: #8a9aff;
    --blue-8: #006FEE;
    --blue-9: #0056d3;
    --blue-10: #0C49C2;
    --blue-11: #1D63ED;

    --red-1: #DB1057;
    --red-2: #D8423B;
    --red-3: #A62F2C;
}

* {
    font-family: var(--lato);
}