.retirement-pension-plans {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.retirement-pension-plans .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.retirement-pension-plans .banner h1 {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    background-color: #DE443C;
    padding: 0 5%;
}

.retirement-pension-plans .banner div {
    width: 50%;
    height: 100%;
    background-image: 
    linear-gradient(rgba(10, 29, 144, 0.60), rgba(10, 29, 144, 0.60)),
    url('../../assets/images/our-services/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay; 
}

.retirement-pension-plans .information-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1080px;
}

.retirement-pension-plans .information-container .more-info {
    display: flex;
    padding-top: 3rem;
    justify-content: space-between;
}

.retirement-pension-plans .information-container .more-info p {
    width: 40%;
    font-size: 1.5rem;
}