.links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 0;
}

.links-container div {
    display: flex;
    justify-content: space-between;
}

.links-container div a {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A1D90;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white-1);
    border-radius: 2rem;
    padding: 0.5rem 0;
    transition: all 0.3s ease-in-out;
}

.links-container div a:hover {
    background-color: #DE443C;
}

.links-container h3 {
    font-size: 3rem;
    font-weight: 900;
    color: #DE443C;
    padding-bottom: 1rem;
}