.clients-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-240px * 40));
	}
}

.clients-container  .slider-container-main {
	display: flex;
	width: 100%;
	padding: 5% 5%;
	box-sizing: border-box;
}

.clients-container .slider-container {
	height: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

.clients-container .slider-container::before,
.clients-container .slider-container::after {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100%;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.clients-container .slider-container::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.clients-container .slider-container::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 80s linear infinite;
	display: flex;
}

.slide {
	height: auto;
	width: 240px;
	margin: 0 15px;
	object-fit: contain;
}

/**.clients-container .information-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-bottom: 3%;
}

.clients-container .information-container h1 {
	font-size: 1.5rem;
	color: var(--blue-2);
}

.clients-container .information-container h2 {
	font-size: 3.5rem;
	font-weight: 900;
}

.clients-container .information-container p {
	color: var(--blue-1);
}

@media  screen and (max-width: 1024px) {
	.clients-container {
		padding: 5% 10%;
	}

	.clients-container .information-container {
		margin-bottom: 3%;
	}

	.clients-container .information-container h1 {
		font-size: 1.25rem;
	}

	.clients-container .information-container h2 {
		font-size: 2rem;
		font-weight: 900;
	}
}*/

.clients-container .banner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #DE443C;
	padding: 3% 5%;
}

.clients-container .banner-container .first-item p {
	font-size: 2rem;
	font-weight: 900;
	color: var(--white);
}

.clients-container .banner-container .second-item {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 5% 0;
}

.clients-container .banner-container .second-item div {
	width: 45%;
}

.clients-container .banner-container .second-item .first {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: start;
	color: var(--white);
	font-weight: 900;
	font-size: 5rem;
}

.clients-container .banner-container .second-item .second {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	color: var(--white);
	font-size: 1.5rem;
	padding: 0 5%;
}

@media screen and (max-width: 1024px) {
	.clients-container .banner-container {
		padding: 2rem 5%;
	}

	.clients-container .banner-container .first-item p {
		font-size: 1rem;
		text-align: center;
	}

	.clients-container .banner-container .second-item {
		flex-direction: column;
	}

	.clients-container .banner-container .second-item div {
		width: 100%;
		text-align: center;
	}

	.clients-container .banner-container .second-item .first {
		font-size: 2rem;
		text-align: center;
		padding-bottom: 2rem;
		padding-top: 1rem;
	}

	.clients-container .banner-container .second-item .second {
		text-align: center;
		font-weight: 700;
	}
}