@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

.slider-container {
	background: orange;
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 90%
}

.slider-container::before,
.slider-container::after {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider-container::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider-container::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
}

.slide {
	height: 100px;
	width: 250px;
}